.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name kohkoh
      %ul.user-menu
        %li.user-menu__new-group
          = link_to new_group_path do
            %i.fa.fa-edit
        %li.user-menu__edit-user
          = link_to edit_user_path do
            %i.fa.fa-cog
    .groups
      %a{:href => "/groups/messages"}
        .group
          %p.group__group-name aaa
          %p.group__latest-message aaa
  .chat-main
    .main-header
      .current-group{data: { group_id: "987"}}
        %h2.current-group__name aaa
        %ul.member-list
          %li.member-list__member kohkoh
      .main-header__edit-btn 
        = link_to "Edit", edit_group_path(@group)
    .messages
      = render @messages
    .form
      .new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
